#candidate_selector {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color:  	rgb(32,33,36);
  font-size: x-large;
  width: 15%;
  border-bottom-right-radius: 10px;
}

#candidate_selector label {
  padding-right: 5px;
}

#candidate_selector div {
  color: #222
}