body {
  background-color: #222;
  color: #eee;
  font-family: 'Lato', sans-serif;
}

summary {
  cursor:pointer;
  background-color: rgb(86, 236, 119);
  color: #222;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: x-large;
  font-weight: bold;
}

details {
  width: 60%;
  background-color: rgb(52, 66, 55);
  margin-bottom: 15px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.details-body {
  padding: 15px;
}

textarea{
  width:100%;
  min-height: 100px;
}