body {
  background-color: rgb(26,27,30);
  color: rgb(155,160,165);
  font-family: 'Lato', sans-serif;
}

summary {
  cursor:pointer;
  background-color:  rgb(32,33,36);
  color: rgb(145, 180, 243);
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
  border-radius: 10px;
}

details {
  width: 60%;
  background-color: rgb(32,33,36);
  margin-bottom: 15px;
  border-radius: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.details-body {
  padding: 15px;
}
