body {
  background-color: #66545e;
  color: #222;
  font-family: 'Lato', sans-serif;
}

summary {
  cursor:pointer;
  background-color:  #aa6f73;
  color: #222;
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
  border-radius: 10px;
}

details {
  width: 60%;
  background-color:  	#eea990;
  margin-bottom: 15px;
  border-radius: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.details-body {
  padding: 15px;
}
